@media only screen and (max-width: 1030px) {
  .navbar {
    text-align: center;
  }
  .list-items .my-btn {
    width: 150px;
  }
  .section-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  .section-one .left .one {
    font-size: 3em;
    width: 100%;
  }
  .section-one .left .two {
    width: 100%;
  }
  .navbar .nav-items img {
    display: block;
    width: 40px;
  }
  .navbar .nav-items {
    padding: 50px;
  }
}
@media only screen and (max-width: 530px) {
  .section-one .left {
    width: 100%;
  }
  .section-one .left .one {
    font-size: 2.3em;
  }
  .section-one .left .two {
    font-size: 1em;
  }
  .section-one .right {
    width: 100%;
    height: 650px;
  }
  .section-one .right form input {
    width: 100%;
  }
  .section-one .right form button {
    width: 100%;
  }
  .section-one .right .twitter {
    width: 100%;
  }
}
